@model shopapp.ui.ViewModels.ProductViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <div>
        <h1>@Model.Category.Name</h1>
        @foreach(var p in @Model.Products)
        {
            <p>@p.Name</p>
            <p>@p.Price</p>
            <p>@p.Description</p>
            <hr>
        }
    </div>
</body>
</html>